# RStudio files
.Rproj.user

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Large and/or useless files
data/fish_data.csv
data/plan_deau_lacs_caracteristiques.csv
data/lake_temperature/
outputs/IndividualSize/lake_individual_size.txt
outputs/lake_number_gillnets_benthic.txt
outputs/lake_number_gillnets_pelagic.txt
outputs/Temperature/datasettrend_258L.rda
outputs/FoodWebs/community_lake.rda
outputs/FoodWebs/network_lake.rda

# scripts and associated files
doc/
rscripts/03_Number_of_gillnets_laying_by_lake_and_year.R
rscripts/14_SEManalysisSIClimateWarming.R
rscripts/essai.R
rscripts/14_SEManalysisSITypeLakes_part1.R
rscripts/14_SEManalysisSITypeLakes_part2.R
rfunctions/modifications_piecewiseSEM.R
rfunctions/building_dataset.R